{{!
<!DOCTYPE html>

<html lang="en">
<!-- <script type="text/javascript">
    fetch("/api/teachers")
        .then(response => response.json())
        .then(teachers => {
        	teachers.forEach(teacher => {
                const el = document.createElement('li');
                el.innerText = teacher.id;
                document.querySelector('#teachers').append(el);
            });
        });
</script> -->



<head>
<meta charset="utf-8" />
<title>Faux</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
</head>

<body>}}
{{#layout}}{{#menu}}home{{/menu}}

	<h1>Demo</h1>
	<div class="container">Hello World</div>
	<div>Hi! We have {{teachersCount}} teachers in our school.</div>
		
	<ul id="teachers">
	<li>gooooo</li>
	</ul>
	
	<script type="text/javascript">
var myRequest = new Request("/api/teachers_list");
var JsonObj = JSON.parse(myRequest);
for (var i = 0; JsonObj.length; i++) {
	const el = document.createElement('li');
    el.innerText = JsonObj[i].id + JsonObj[i].name + JsonObj[i].surname + JsonObj[i].course;
    document.querySelector('#teachers').append(el);
};
</script>
{{/layout}}
{{!</body></html>}}